<div id="container-1" style="min-width: 280px; max-width: 350px; height: 300px; float:left"></div>
<div id="container-2" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>
<div id="container-3" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>


<script>
$(function () {

    Highcharts.chart('container-1', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,
        },

        title: {
            text: 'Personal'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [1.1],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: 'red',
								     dashStyle: 'longdash'                     
                   }
          }, {
            name: 'Benchmark',
            data: [3.3],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'green'
                   }            
          }, {
            showInLegend: true,
            name: "Bad",
            color: '#55BF3B' // green   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });
    
    Highcharts.chart('container-2', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Team'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [1.1],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [3.3],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });

    Highcharts.chart('container-3', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Project'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [1.1],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [3.3],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });

  
});
</script>

<%= render "message_info" %>

