<div style="display: block; position: relative; overflow: hidden">
  <div id="container-1" style="min-width: 280px; max-width: 350px; height: 300px; float:left"></div>
  <div id="container-2" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>
  <div id="container-3" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>
</div>

<div style="display: block; position: relative; overflow: hidden">
  <div id="green-line" style="width: 75%; margin: 0 auto;"></div>
</div>

<div style="overflow-x: auto; overflow-y: visible; position: relative; margin-top: 20px; margin-bottom: 20px;">
  <canvas id="my_canvas" class="canvas" style="display: block; position: relative; overflow: hidden; width:800px; height:600px; background-color: #DBDDE3"></canvas>
</div>


<script>
$(function () {
    var list = [['crap', 12], ['happy', 6], ['disappointed', 43], ['sad', 23], ['angry', 19], ['joyful', 32], 
                ['confused', 12], ['crazy', 28], ['messed up', 54] ];

    WordCloud(document.getElementById('my_canvas'), { list: list, backgroundColor: "#dbdde3" } );

    Highcharts.chart('container-1', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,
        },

        title: {
            text: 'Personal'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: 'red',
								     dashStyle: 'longdash'                     
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'green'
                   }            
          }, {
            showInLegend: true,
            name: "Bad",
            color: '#55BF3B' // green   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });
    
    Highcharts.chart('container-2', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Team'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });

    Highcharts.chart('container-3', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Project'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });


    Highcharts.chart('green-line', {
        credits: {
          enabled: false
        },
        title: {
            text: 'Hello testing'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'week'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true,
            min: 0,
            max: 11,
            minTickInterval: 1,
            tickInterval: 1
        },
        yAxis: {
            title: {
                enabled: true,
                text: '% confidence'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true,
            min: 0,
            max: 100,
            minTickInterval: 20,
            tickInterval: 20
        },        
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'spline',
            showInLegend: false,               
            color: 'rgba(0, 100, 0, .5)',
            marker: {
            	enabled: false
            },
            data: [[1, 0], [2, 10], [3, 20], [4, 10], [5, 5], [6, 30], [7, 20],
                   [8, 15], [9, 40], [10, 60], [11, 80]]
        },{
            type: 'scatter',
            name: 'Me',
            color: 'rgba(223, 83, 83, .8)',
            data: [[1, 76.4]]
        }, {
            type: 'scatter',
            name: 'Everyone else',
            color: 'rgba(119, 152, 191, .1)',
            data: [[1.298940414, 94.14647901], [1.050821679, 72.5252077], [1.237886841, 92.97092836], [1.03176422, 83.85021656], [1.284380467, 97.86748029], [1.220099869, 78.51415524], [1.031455486, 63.21809899], [1.248094715, 75.78671692], [1.142438334, 64.77072796], [1.202249188, 64.15346344], [1.112774426, 89.58224616], [1.214499662, 69.11785232], [1.069159161, 94.72429268], [1.150994979, 92.61827856], [1.274048631, 70.93479666], [1.053388629, 86.35629959], [1.129699967, 72.43715338], [1.255849173, 96.99622951], [1.161340137, 70.43802689], [1.178628091, 68.11037521], [1.003886599, 95.35382807], [1.286036038, 61.90825366], [1.020842111, 91.6049763], [1.093065172, 73.2021699], [1.147560425, 98.85613226], [1.210656933, 68.72561524], [1.274028706, 74.86961355], [1.034751399, 76.83501234], [1.264636759, 87.67831924], [1.208766011, 75.78936539], [1.054102457, 88.57350654], [1.223038277, 83.21649], [1.059796758, 72.44184662], [1.258028633, 75.03849205], [1.011161221, 98.27525167], [1.030716533, 79.04329174], [1.116734821, 60.21601959], [1.165634417, 76.45301084], [1.068506438, 68.28890012], [1.083370956, 84.2541118], [1.221883212, 98.01077045], [1.080136831, 61.71825381], [1.287514615, 79.35764169], [1.162122706, 86.4568754], [1.028535876, 98.10780901], [1.097891181, 98.51658953], [1.173493967, 76.36899243], [1.2609309, 95.43652816], [1.131293338, 64.1364068], [1.052762817, 96.85284315], [1.229947983, 70.01773516], [1.224625464, 84.14963856], [1.195750459, 66.80005948], [1.052777515, 98.81965075], [1.043667885, 66.32286409], [1.068843001, 72.61207754], [1.163349021, 88.16027515], [1.002385862, 83.20901259], [1.158075809, 87.9047829], [1.158037647, 61.08599893], [1.126316989, 63.38374406], [1.024013524, 76.37628133], [1.067240596, 60.92901208], [1.192738747, 88.97240127], [1.242616316, 98.85914179], [1.1675693, 90.76284454], [1.03798806, 71.62263777], [1.232227215, 65.8154963], [1.035821116, 95.5898003], [1.271582777, 62.48374993], [1.142527623, 66.26977916], [1.153802492, 70.82514761], [1.09984823, 96.76851598], [1.014643534, 89.38651854], [1.159017155, 78.59229803], [1.024811941, 67.32362517], [1.003461856, 88.44073754], [1.17081372, 80.9874018], [1.172487989, 78.42202173], [1.038614585, 68.52292611], [1.064474325, 72.16237656], [1.157685891, 61.69132915], [1.283551805, 65.57071073], [1.240651005, 81.03891229], [1.038564696, 78.55850281], [1.240757994, 98.7017989], [1.007311513, 82.80403827], [1.04579138, 82.54851357], [1.14263723, 80.689165], [1.03279735, 76.02695398], [1.119897727, 71.82581799], [1.023133426, 99.99624902], [1.007641491, 96.12859127], [1.001865569, 65.98811094], [1.185052967, 66.1787399], [1.099422155, 64.75630958], [1.230776005, 96.66401899], [1.176676148, 99.63696877], [1.068185247, 64.96785679], [1.1072634, 91.1564669]]
        }]
    });


  
});
</script>

<div style="display:block">
  <%= render "message_info" %>
</div>

