<div style="display: block; position: relative; overflow: hidden">
  <div id="container-1" style="min-width: 280px; max-width: 350px; height: 300px; float:left"></div>
  <div id="container-2" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>
  <div id="container-3" style="min-width: 280px; max-width: 350px; height: 300px; margin: 0 auto; float: left"></div>
</div>

<div style="display: block; position: relative; overflow: hidden">
  <div id="green-line" style="width: 75%; margin: 0 auto;"></div>
</div>

<div style="overflow-x: auto; overflow-y: visible; position: relative; margin-top: 20px; margin-bottom: 20px;">
  <canvas id="my_canvas" class="canvas" style="display: block; position: relative; overflow: hidden; width:800px; height:600px; background-color: #DBDDE3"></canvas>
</div>


<script>
$(function () {
    var list = [['crap', 12], ['happy', 6], ['disappointed', 43], ['sad', 23], ['angry', 19], ['joyful', 32], 
                ['confused', 12], ['crazy', 28], ['messed up', 54] ];

    WordCloud(document.getElementById('my_canvas'), { list: list, backgroundColor: "#dbdde3" } );

    Highcharts.chart('container-1', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,
        },

        title: {
            text: 'Personal'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: 'red',
								     dashStyle: 'longdash'                     
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'green'
                   }            
          }, {
            showInLegend: true,
            name: "Bad",
            color: '#55BF3B' // green   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });
    
    Highcharts.chart('container-2', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Team'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });

    Highcharts.chart('container-3', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingBottom: -105,            
        },

        title: {
            text: 'Project'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
            	shape: 'arc',
              backgroundColor: '#DBDDE3',
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                shape: 'arc'
            }]
        },

        // the value axis
        yAxis: {
            min: 1,
            max: 5,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                // text: 'km/h'
            },
            plotBands: [{
                from: 1,
                to: 2,
                color: '#DF5353' // red
            }, {
                from: 2,
                to: 3,
                color: '#DDDF0D' // yellow
            }, {
                from: 3,
                to: 4,
                color: '#FFBF00' // amber
            }, {
                from: 4,
                to: 5,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: 'Me',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            dashStyle: 'longdash',            
            yAxis: 0,
                   dial: {
                     backgroundColor: '#FF00FF',
                   }
          }, {
            name: 'Benchmark',
            data: [ Math.round((Math.random()*4 + 1) * 10) / 10 ],
            yAxis: 0,
                   dial: {
                     backgroundColor: 'black'
                   }            
          }, {
            showInLegend: true,
            name: "Me",
            color: 'red' // red   
        	}, {
            showInLegend: true,
            name: "Benchmark",
            color: 'green' // red   
        	}]
    },
    // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
          var point  = chart.series[0].points[0],
              point2 = chart.series[1].points[0],               
              newVal,
              inc = Math.random() / 100;
        }
    });


    Highcharts.chart('green-line', {
        credits: {
          enabled: false
        },
        title: {
            text: 'Hello testing'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'week'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true,
            min: 0,
            max: 11,
            minTickInterval: 1,
            tickInterval: 1
        },
        yAxis: {
            title: {
                enabled: true,
                text: '% confidence'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true,
            min: 0,
            max: 100,
            minTickInterval: 20,
            tickInterval: 20
        },        
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'spline',
            name: 'Old Green Line',
            showInLegend: false,               
            color: 'rgba(0, 100, 0, .5)',
            marker: {
            	enabled: false
            },
            data: [[1, 0], [2, 10], [3, 20], [4, 10], [5, 5], [6, 30], [7, 20],
                   [8, 15], [9, 40], [10, 60], [11, 80]]
        },{
            type: 'scatter',
            name: 'Green Line',
            showInLegend: false,
            color: 'rgba(0,150,0,1)',
            data: [[0.1826525128, 58.50442175], [0.2475925871, 57.00491975], [0.1963942327, 55.50154647], [0.1168219305, 53.9972274], [0.6546726036, 52.51348909], [0.005047449405, 50.99016825], [0.6441635178, 49.50980545], [0.5772537241, 48.00590846], [0.2242422204, 46.49548484], [0.8983205855, 44.01991603], [0.5210356674, 42.99855178], [0.406079923, 41.993536], [0.4849304048, 40.5], [0.9681482746, 40.52681483], [0.6852550276, 40], [0.9842440973, 40], [1.29668246, 40], [0.7964707635, 40], [1.189529176, 39.98911231], [0.760515981, 41.21974201], [0.9369746158, 41.20470939], [1.083540746, 42.4006858], [1.025187676, 43.60520051], [0.984864007, 44.808964], [1.088837674, 46.0067151], [1.681047616, 47.18412302], [1.34838833, 48.40006715], [1.497807119, 49.5959247], [1.413332825, 50.8015278], [1.589973423, 51.99625111], [1.316031646, 53.20974868], [1.392664622, 54.40863897], [1.995468581, 55.58560548], [1.679552322, 56.80085199], [1.662951161, 58.00362703], [2.177779424, 59.18425919], [1.818954823, 60.40129355], [1.856362232, 61.60181824], [1.880853275, 62.80288111], [2.000945825, 63.99995271], [2.016595083, 65.00167025], [2.110232776, 65.99948836], [1.913386175, 67.01183069], [2.158430007, 68.0020785], [1.959525735, 69.01452371], [2.286310885, 70.00068446], [2.660624403, 70.98446878], [2.296126691, 72.00519367], [2.289915821, 73.00800421], [2.980280648, 73.97598597], [2.890161169, 74.98299194], [2.420552443, 76.00897238], [2.568148313, 77.00409258], [2.826391035, 77.99368045], [2.980907081, 78.98845465], [2.872532027, 80], [3.096909487, 79.98765453], [3.2456009, 80.98271996], [2.679600194, 82.01351999], [3.376590515, 82.98117047], [3.501019363, 84], [3.243807221, 84], [3.12893867, 84], [3.564219935, 83.96357801], [3.583242609, 84.5], [3.697778464, 84.5], [3.230153063, 84.51198469], [3.179345858, 85], [3.642725279, 85], [3.539071629, 85], [3.331742344, 84.97817423], [3.309475317, 84.5], [3.834109161, 84.5], [4.143867237, 84.54438672], [4.090003035, 84], [3.646163703, 84], [4.061781811, 84], [3.859313478, 83.99593135], [3.925888032, 83.4975888], [3.763594545, 82.99408986], [4.145126555, 81.00158544], [4.344626229, 78.0040771], [4.406637226, 75.00427729], [3.914222506, 71.99523704], [4.157042797, 68.99845071], [4.277848398, 65.99963081], [4.309528643, 62.99932548], [4.475585963, 60.00125977], [4.529413574, 57.00132356], [4.776828208, 54.0046138], [4.879004999, 51.00548342], [4.542551808, 47.99904253], [4.735603285, 45.00142672], [5.005632291, 42.00509387], [4.867336772, 39.00586684], [4.844411531, 38], [5.301474765, 38.01128687], [5.085265348, 36], [4.752889194, 35.99014446], [4.976403739, 35], [4.962821536, 35], [5.40022522, 35.03002252], [5.058966776, 34.5], [5.070394461, 34.5], [4.97851646, 34.54524726], [5.490077323, 34.76832045], [5.150115264, 35.13331412], [5.489603109, 35.38506615], [5.925085389, 35.6208191], [5.937889889, 35.89052753], [5.461667204, 36.2220832], [5.717417847, 36.37064554], [5.539819534, 36.62754512], [5.415026571, 36.87124336], [6.222223331, 36.88194416], [5.720500792, 37.2198748], [5.745947573, 37.4260131], [6.314450024, 37.49638749], [5.757668681, 37.84808282], [5.70153929, 38.02487173], [6.484793737, 38.54565078], [5.802345902, 39.07441352], [6.619228035, 39.1413465], [6.517155939, 39.56035551], [6.59625534, 39.96537447], [6.640533294, 40.46594667], [6.056972076, 41.02930279], [6.721646617, 41.46783534], [6.930338708, 42.04803387], [6.579783296, 41.49202167], [6.764091412, 41.94647715], [6.807371338, 42.2], [6.938899116, 42.15185015], [6.896824358, 42.5], [7.146162259, 42.69808113], [6.747779538, 42.4], [7.18813657, 42.42113354], [6.945468984, 41.58863274], [7.223533579, 41.7316166], [7.409207612, 42.0163683], [6.948805286, 40.72470132], [7.214952277, 40.57873807], [7.053871951, 40.34434541], [6.98274235, 39.47827424], [7.062501256, 38.99062506], [7.536229837, 38.02362298], [7.265806277, 37.49158063], [7.497600782, 37], [7.248798274, 37.02012017], [7.749637999, 37.45839367], [7.523521277, 37.80661968], [7.312632661, 38.04789456], [7.909409373, 38.23514766], [8.144976053, 38.38875599], [8.096054428, 38.6567432], [7.642708356, 39.11966146], [7.701956499, 39.51850544], [7.90772645, 39.89903419], [8.183957532, 40.27075531], [7.861911113, 40.71726111], [8.097337784, 41.09408278], [8.452784874, 41.45590189], [7.859890447, 41.93626369], [7.935608907, 42.33304889], [8.4010878, 42.68111402], [8.099728458, 43.12503394], [8.808620313, 43.44267246], [8.868637135, 43.84142036], [8.910532797, 44.2424334], [8.241306942, 44.73233663], [8.505806519, 45.10552419], [8.316980244, 45.53537747], [8.795948664, 45.88175642], [8.579497394, 46.31506283], [9.053857173, 46.66201785], [9.295495717, 47.03806304], [8.935336008, 47.489333], [9.35111961, 47.84361005], [9.197049776, 48.26911878], [8.824381108, 48.72195236], [9.098832881, 49.09389589], [8.937665597, 49.5202918], [8.867014543, 49.93537318], [9.592240168, 50.25096998], [9.170191784, 50.70997603], [9.051652627, 51.13104342], [9.163585305, 51.52330184], [9.2737612, 51.91577985], [9.509154129, 52.29260573], [9.614465642, 52.68569179], [9.754929131, 53.07438386], [9.825175944, 53.47185301], [9.699961321, 53.89375483], [9.888311192, 54.2764611], [9.484772097, 54.73315349], [9.690824987, 55.11364688], [10.19764786, 55.45654402], [9.797561199, 55.91280485], [10.10344468, 56.28081942], [9.789310402, 56.7263362], [10.1751685, 57.08435394], [10.47242103, 57.45344737], [9.893376883, 57.93207789], [10.60787384, 58.24901577], [10.39081718, 58.68239785], [10.67051283, 59.0536859], [10.33857905, 59.50142762], [10.71879371, 59.86015079], [10.5368022, 60.28914973], [10.67962102, 60.67754737], [10.49155081, 61.10730615], [10.94175175, 61.45728103], [10.69624801, 61.894219], [10.77750348, 62.29031206], [11.11996682, 62.65375415], [11.21127559, 63.04859055], [11.02730041, 63.47783745], [11.32232784, 63.84720902], [10.86939412, 64.31007573], [10.96851955, 64.70393506], [11.00941828, 65.10507271], [10.86994873, 65.52875641], [11.15720222, 65.89909972], [10.98180326, 66.32727459], [11.52834085, 66.66520739], [11.76189806, 67.04226274], [11.31673354, 67.50415831], [11.31048265, 67.91118967], [11.7426263, 68.26342171], [11.40061677, 68.7124229], [11.4397074, 69.11378657], [11.46188527, 69.51381147], [12.06606327, 69.95839367], [11.52611237, 70.51738876], [12.21873781, 70.95312622], [11.85119731, 71.49488027], [11.91666333, 71.99333367], [11.63088329, 72.52691167], [12.07075114, 72.98792489], [12.05934641, 73.49031079]]
        },{
            type: 'scatter',
            name: 'Everyone else',
            color: 'rgba(119, 152, 191, .2)',
            data: [[1.298940414, 94.14647901], [1.050821679, 72.5252077], [1.237886841, 92.97092836], [1.03176422, 83.85021656], [1.284380467, 97.86748029], [1.220099869, 78.51415524], [1.031455486, 63.21809899], [1.248094715, 75.78671692], [1.142438334, 64.77072796], [1.202249188, 64.15346344], [1.112774426, 89.58224616], [1.214499662, 69.11785232], [1.069159161, 94.72429268], [1.150994979, 92.61827856], [1.274048631, 70.93479666], [1.053388629, 86.35629959], [1.129699967, 72.43715338], [1.255849173, 96.99622951], [1.161340137, 70.43802689], [1.178628091, 68.11037521], [1.003886599, 95.35382807], [1.286036038, 61.90825366], [1.020842111, 91.6049763], [1.093065172, 73.2021699], [1.147560425, 98.85613226], [1.210656933, 68.72561524], [1.274028706, 74.86961355], [1.034751399, 76.83501234], [1.264636759, 87.67831924], [1.208766011, 75.78936539], [1.054102457, 88.57350654], [1.223038277, 83.21649], [1.059796758, 72.44184662], [1.258028633, 75.03849205], [1.011161221, 98.27525167], [1.030716533, 79.04329174], [1.116734821, 60.21601959], [1.165634417, 76.45301084], [1.068506438, 68.28890012], [1.083370956, 84.2541118], [1.221883212, 98.01077045], [1.080136831, 61.71825381], [1.287514615, 79.35764169], [1.162122706, 86.4568754], [1.028535876, 98.10780901], [1.097891181, 98.51658953], [1.173493967, 76.36899243], [1.2609309, 95.43652816], [1.131293338, 64.1364068], [1.052762817, 96.85284315], [1.229947983, 70.01773516], [1.224625464, 84.14963856], [1.195750459, 66.80005948], [1.052777515, 98.81965075], [1.043667885, 66.32286409], [1.068843001, 72.61207754], [1.163349021, 88.16027515], [1.002385862, 83.20901259], [1.158075809, 87.9047829], [1.158037647, 61.08599893], [1.126316989, 63.38374406], [1.024013524, 76.37628133], [1.067240596, 60.92901208], [1.192738747, 88.97240127], [1.242616316, 98.85914179], [1.1675693, 90.76284454], [1.03798806, 71.62263777], [1.232227215, 65.8154963], [1.035821116, 95.5898003], [1.271582777, 62.48374993], [1.142527623, 66.26977916], [1.153802492, 70.82514761], [1.09984823, 96.76851598], [1.014643534, 89.38651854], [1.159017155, 78.59229803], [1.024811941, 67.32362517], [1.003461856, 88.44073754], [1.17081372, 80.9874018], [1.172487989, 78.42202173], [1.038614585, 68.52292611], [1.064474325, 72.16237656], [1.157685891, 61.69132915], [1.283551805, 65.57071073], [1.240651005, 81.03891229], [1.038564696, 78.55850281], [1.240757994, 98.7017989], [1.007311513, 82.80403827], [1.04579138, 82.54851357], [1.14263723, 80.689165], [1.03279735, 76.02695398], [1.119897727, 71.82581799], [1.023133426, 99.99624902], [1.007641491, 96.12859127], [1.001865569, 65.98811094], [1.185052967, 66.1787399], [1.099422155, 64.75630958], [1.230776005, 96.66401899], [1.176676148, 99.63696877], [1.068185247, 64.96785679], [1.1072634, 91.1564669],
            [2.03577198, 34.64532428], [2.122775061, 39.05492379], [2.070471357, 25.62306614], [2.215456845, 29.3227769], [2.000363513, 26.26983289], [2.180926193, 15.02912048], [2.028184324, 14.17971921], [2.178712829, 27.46494529], [2.02728156, 28.94960881], [2.264760402, 23.97505781], [2.230336052, 16.98195689], [2.241791378, 20.81850508], [2.216012445, 34.54420594], [2.149012366, 30.27120486], [2.050262675, 15.77032324], [2.25935765, 36.63965769], [2.108048164, 12.24111985], [2.151198841, 37.52455494], [2.104664573, 31.66867624], [2.204554436, 14.28050087], [2.003646201, 35.03637781], [2.139313141, 29.16300649], [2.040394824, 14.30973709], [2.064840573, 36.13632362], [2.007220859, 36.53434076], [2.046569251, 17.73561728], [2.186402715, 14.77594493], [2.115777407, 31.73437923], [2.093163102, 11.9339061], [2.25374237, 28.66294132], [2.200129115, 19.97280619], [2.270810131, 14.45632558], [2.058885754, 14.5683047], [2.274652713, 31.67962537], [2.212650691, 33.55192805], [2.280090838, 27.88652143], [2.106890874, 26.86566514], [2.25533956, 20.71144719], [2.151869688, 36.00092245], [2.226390212, 36.27836264], [2.172656237, 32.09755272], [2.272472326, 30.4289964], [2.198046338, 34.01736297], [2.241144743, 31.13085024], [2.090137815, 20.78264754], [2.291545593, 35.22017732], [2.00097058, 26.78399512], [2.238686264, 33.36757164], [2.061685033, 33.11277375], [2.120404929, 13.82371907], [2.063070144, 24.26237133], [2.241700777, 38.11029192], [2.074165814, 16.26844604], [2.268650396, 20.36588771], [2.067751723, 20.12210992], [2.14596339, 16.53933173], [2.278098171, 32.99113482], [2.198464643, 20.04258431], [2.107272194, 39.42296153], [2.247396248, 36.83292724], [2.221585261, 15.27943113], [2.127412411, 35.18900954], [2.039436788, 28.66687027], [2.029496341, 33.67775881], [2.005850827, 34.57629874], [2.01875834, 14.97910072], [2.077420965, 23.33721701], [2.284180052, 23.34282873], [2.204171798, 27.31460714], [2.269850004, 19.49690484], [2.092012981, 15.54243387], [2.214091346, 38.80888651], [2.161005033, 22.18812516], [2.284112938, 26.42209727], [2.280574005, 31.88117382], [2.139420446, 26.94558248], [2.063104989, 33.01516539], [2.187204695, 26.07181611], [2.232012592, 39.14623055], [2.107279865, 17.22853524], [2.249429259, 18.56206937], [2.222874611, 28.04101402], [2.092070487, 22.98438389], [2.076684723, 38.98850614], [2.00162882, 18.1937172], [2.239076334, 30.18350097], [2.108216533, 22.12937179], [2.227184161, 21.68486736], [2.231919862, 39.71825478], [2.249879858, 38.17587995], [2.008445649, 28.32516539], [2.014190752, 10.19554415], [2.160134112, 33.29321687], [2.133730049, 21.40655093], [2.043279685, 29.55674387], [2.069054792, 14.61563086], [2.046744452, 22.76024431], [2.203598431, 28.43197839], [2.195267076, 31.70554506], [2.016930367, 21.55685619],
            [3.223662798, 44.25191558], [3.259575182, 75.80801365], [3.135278137, 37.48930874], [3.060479955, 4.800309081], [3.239607052, 5.344983282], [3.209448188, 23.59733228], [3.1798929, 30.3529333], [3.152464677, 12.57697967], [3.211834036, 9.799842483], [3.017816015, 73.48679798], [3.279178325, 44.30330887], [3.255266728, 66.35217887], [3.251035235, 18.77832346], [3.11928174, 74.18694351], [3.139151843, 84.73058318], [3.160391239, 34.18120656], [3.201192288, 75.56917743], [3.206274404, 35.8578748], [3.058227992, 12.51001591], [3.115994134, 1.630530776], [3.211189056, 87.64535366], [3.077045071, 33.26181489], [3.031945144, 42.8836123], [3.28548306, 28.91289019], [3.029977169, 98.71763382], [3.0043843, 49.79092465], [3.155269071, 25.15840412], [3.135238153, 42.84296103], [3.09209189, 88.67520123], [3.260607942, 6.51096424], [3.026770368, 53.61198938], [3.124499548, 20.25419083], [3.035315239, 64.30383343], [3.109358113, 45.36147924], [3.033972428, 84.99599783], [3.04546856, 44.51745974], [3.267283148, 28.67227731], [3.249766231, 60.65306552], [3.274167077, 63.02806021], [3.136669279, 41.80215294], [3.272833645, 42.07747492], [3.173524988, 98.00242282], [3.139994471, 75.26293701], [3.067617642, 28.72030131], [3.028892846, 12.43925658], [3.270416127, 64.84573863], [3.174084398, 92.73343018], [3.26784466, 27.99440892], [3.16869566, 78.03511077], [3.292840918, 21.67109802], [3.072055645, 67.75167021], [3.24832082, 33.78956552], [3.212138097, 70.46567468], [3.26490018, 48.11048269], [3.288170443, 90.26146693], [3.038328476, 33.35052004], [3.254058054, 70.7415588], [3.096570762, 3.032045193], [3.072940794, 28.13227089], [3.135829101, 16.58428572], [3.177241412, 96.38214574], [3.238525288, 22.77322533], [3.146983603, 1.785437412], [3.244372291, 30.2289342], [3.131950384, 82.41695041], [3.088142133, 26.65537451], [3.290421416, 68.5433797], [3.144593427, 58.24921265], [3.098770926, 44.18022443], [3.232252456, 23.92050064], [3.20212575, 17.09225021], [3.123346761, 35.09956137], [3.026576138, 34.7893746], [3.28717113, 41.23074625], [3.058099764, 97.44877165], [3.258520939, 23.49521738], [3.012402483, 35.1978642], [3.071558543, 14.8712491], [3.273297267, 36.82184262], [3.032583758, 13.33198537], [3.06503575, 39.71317815], [3.222660007, 16.79698529], [3.046174833, 16.7595491], [3.122903029, 23.39530985], [3.269103593, 24.8705275], [3.241469809, 8.664246159], [3.040273989, 11.9721924], [3.191890452, 12.49929926], [3.141471519, 14.55286754], [3.127366639, 42.98733215], [3.232130249, 16.22196725], [3.075015351, 31.69628007], [3.24673927, 79.24790271], [3.137767355, 55.56115421], [3.229806004, 5.669931067], [3.139735178, 74.19756062], [3.213634358, 32.33265358], [3.183345933, 18.29029096], [3.141343992, 15.07085708], [3.263389643, 4.645975958]]
        },{
            type: 'scatter',
            name: 'Me',
            color: 'rgba(223, 83, 83, 1)',
            data: [[1, 76.4], [2, 50], [3, 87]]
        }]
    });


  
});
</script>

<a href="https://edpsychexperience.files.wordpress.com/2013/03/shutterstock_1005128501.jpg" data-lightbox="image-1" data-title="My caption">
	<img src="https://edpsychexperience.files.wordpress.com/2013/03/shutterstock_1005128501.jpg" data-lightbox="image2" data-title="a caption" width="100px" height="100px">
</a>

<div style="display:block">
  <%= render "message_info" %>
</div>

